.col-form-label{
width:400px;
font-size: 20px;
}

.addRecipeForm{
  justify-content: center;
  align-items: center;
}
.formValues{
  height: 50px;
}
.showRecipeSteps{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #CD5C5C;
  overflow-y: scroll;
  color:white;
  text-align: center;
 
  margin-left: 60px;

}

.col-form-label{
  width: 900px;
}

.authorTable{
  height:600px;
  overflow-Y: scroll
}
