.rateRecipeTitle{
  background-color:snow;
  height: 60px;
  color:red;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.rateRecipeContainer{
  /* background-image: url("../images/food.jpg"); */
  flex-direction: column;
}

.detailedRecipeIngred{

}

.rateButton{
  background-color: #CD5C5C;
}

.recipeRate{
  background-color: #CD5C5C;
  /* flex-direction: column; */
  color:white;
  margin:10px;
  width:60%;
  height:60px;
  padding:15px;
  border-radius: 5px;
}
.recomm-recipe-skill{
  width: 700;
  height:90px;
  align-items: center;
  justify-content: center;
  background-color:beige;
  border-radius: 8px;
  color:black;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.add-recipe-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;
}