.recipeLevelTitle{
  background-color:#CD5C5C;
  height: 60px;
  color:white;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.recipeLevelContainer{
  background-image: url("../images/food.jpg");
  flex-direction: column;
}
.skillLevelList {
  flex-direction: row;
  height: 100%;
  min-width: 40%;
  margin: 4px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}